CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build

README_og.md

# CMake build output
build/

# Visual Studio / Windows junk
.vs/
*.user
*.suo
*.pdb
*.obj
*.ilk
*.tlog
*.log
Debug/
Release/
x64/
